.title{
  width: 100%;
  height: 150px;
  display: table;
  background-color: #F5FFFA;

}

.title h2{
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 0px #D2B48C,
   -2px 2px 0px #D2B48C,
   2px -2px 0px #D2B48C,
   -2px -2px 0px #D2B48C,
   2px 0px 0px #D2B48C,
   -2px 0px 0px #D2B48C,
   0px -2px 0px #D2B48C,
   0px 2px 0px #D2B48C;
   height: 30px;
   margin-top: 40px;
}

.cart_cnt{
  height: 40px;
  margin: 0 30px;
}

#count{
  color: white;
  background-color: #D2B48C;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  font-weight: bolder;
  float: left;
}

.cart{
  display: table-cell;
  text-align: right;
  color: #D2B48C;
} 

body{
  margin: 0;
  background-color: #FAF0E6;

}

.container{
  width: 100%;
}


ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}

li{
  margin: 15px 15px;
  background-color: #F5FFFA;
  border: dotted 3px #D2B48C;
  box-shadow: 0 0 0 10px #F5FFFA;
  padding: 10px;
}

img{
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.item_price p::before{
  content: "\0a5";
}

.item_price{
  text-align: right;
}

.item_btnarea{
  text-align: center;
}

.item_cart_btn{
  border: none;
  background-color: #D2B48C;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  outline: 0;
}

.item_cart_btn:hover{
  background-color: #FFFF99;
  color: black;
}



footer{
  background-color: #F5FFFA;
  display: flex;

}

footer a{
  color: black;
}

.company{
  text-decoration: none;
  margin: 0 20px;
  font-size: 15px;
}

.icons{
  margin: 0 0 0 auto;
}

.icon{
  padding-top: 20px;
  margin-right: 10px;
  font-size: 20px;
}
