body{
  background-color: #F5FFFA;
}

.back{
  margin: 5px 0 0 10px; 
}

.back a{
  text-decoration: none;
  font-weight: lighter;
  color: #D2B48C;
}

.back h2:before{
  content: "\02190";
}

.sum{
  color:#D2B48C;
  margin: 0 20px;
  text-align: center;
}

#buy_area{
  border: dotted 2px #D2B48C;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}

.buy_list{
text-align: center;
color: #D2B48C;
}

.buy_list h2{
  border-bottom: dotted 2px #D2B48C;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0px;
}

#item_buy_list{
  list-style: none;
}

.buy_list_price:before{
  content: "\0a5";
}

#btn{
  text-align: center;
  margin: 10px;
}

button{
  background-color: #D2B48C;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  outline: 0;
  padding: 5px 10px;
  font-size: 17px;
}

button:hover{
  background-color: #FFFF99;
  color: black;
}
